.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


 .slider-container{
    display: flex;
 }

 .slider-img {
    display: flex;
 }
 .slider-img img{
    height: 10em;
    object-fit: contain;
 } 

 